footer.footer
  div(class="footer__container")
    // NEWSLETTER
    div(class="footer__newsletter")
      div(class="newsletter-info")
        h3 Đừng bỏ lỡ ưu đãi
        p Đăng ký để nhận thông tin ưu đãi mới nhất và <span>giảm giá 10%</span> cho đơn hàng đầu tiên!
      form(class="newsletter-form" action="/contact/create" method="POST")
        input(name="email" placeholder="Nhập email của bạn..." type="email" required)
        button(type="submit") 
          | Đăng Ký 
          i.fa-regular.fa-paper-plane

    // MAIN FOOTER CONTENT
    div(class="footer__main")
      // Col 1: Brand Info
      div(class="footer__col brand-col")
        a.logo(href="/")
          img(src="./client/assets/images/logo-footer.png", alt="TitiSport")
        p Điểm đến số 1 cho những người đam mê thể thao. Cam kết hàng chính hãng 100%, chất lượng đỉnh cao, dịch vụ tận tâm.
        div(class="footer__social")
          a(href="#"): i.fa-brands.fa-facebook-f
          a(href="#"): i.fa-brands.fa-instagram
          a(href="#"): i.fa-brands.fa-twitter
          a(href="#"): i.fa-brands.fa-youtube

      // Col 2: Categories
      div(class="footer__col")
        h4 Danh Mục
        ul.footer__links
          li: a(href="#") Giày Thể Thao
          li: a(href="#") Quần Áo
          li: a(href="#") Phụ Kiện
          li: a(href="#") Dụng Cụ Tập
          li: a(href="#") Hàng Mới Về
          li: a(href="#") Khuyến Mãi

      // Col 3: Support
      div(class="footer__col")
        h4 Hỗ Trợ Khách Hàng
        ul.footer__links
          li: a(href="#") Hướng dẫn mua hàng
          li: a(href="#") Chính sách đổi trả
          li: a(href="#") Chính sách bảo hành
          li: a(href="#") Vận chuyển & Giao nhận
          li: a(href="#") Bảo mật thông tin
          li: a(href="#") Câu hỏi thường gặp

      // Col 4: Contact
      div(class="footer__col contact-col")
        h4 Liên Hệ
        ul.footer__contact
          li
            div.icon-wrapper: i.fa-solid.fa-location-dot
            span 123 Sport Street, Quận Hoàn Kiếm, Hà Nội
          li
            div.icon-wrapper: i.fa-solid.fa-phone
            span 0987 654 321
          li
            div.icon-wrapper: i.fa-solid.fa-envelope
            span contact@titisport.vn

  // BOTTOM
  div(class="footer__bottom")
    div(class="footer__bottom-inner")
      p © 2026 TitiSport. All rights reserved. Designed with ❤️ for athletes.