footer.footer
  div(class="footer__container")
    // NEWSLETTER
    div(class="footer__newsletter")
      h3 Đăng Ký Ngay Để Không Bỏ Lỡ Các Chương Trình Của Chúng Tôi
      .newsletter-form
        input(
          placeholder="Nhập email của bạn..." 
          type="email"
          )
        button Đăng Ký Ngay
    // MID
    div(class="footer__mid")
      ul(class="footer__nav")
        li
          a(href="#") Trang Chủ
        li
          a(href="#") Tour Trong Nước
        li
          a(href="#") Tour Nước Ngoài
        li
          a(href="#") Tin Tức
        li
          a(href="#") Liên Hệ
      div(class="footer__social")
        a(href="#")
          i.fa-brands.fa-facebook-f
        a(href="#")
          i.fa-brands.fa-x-twitter
        a(href="#")
          i.fa-brands.fa-instagram
        a(href="#")
          i.fa-brands.fa-youtube
    hr(class="footer__divider")
    // BOTTOM
    div(class="footer__bottom")
      a.logo(href="#")
        img(
          src="./client/assets/images/titisport_footer.png"
          )
      div(class="footer__links")
        a(href="#") Điều khoản dịch vụ
        a(href="#") Chính sách bảo mật
      p(class="footer__copy") © 2024 28Tech. All rights reserved.