extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug
include ../mixins/product-item.pug

block main
  +box-breadcrumb(breadcrumb)

  // SECTION 9: DANH SÁCH SẢN PHẨM & BỘ LỌC
  section.product-list-page
    .container
      .product-list-page__inner
        
        // --- 1. SIDEBAR BỘ LỌC (BÊN TRÁI) ---
        aside.product-filter
          .product-filter__header
            i.fa-solid.fa-filter
            h3.filter-title Bộ Lọc Sản Phẩm
            
          .filter-group
            h4.filter-group-title Danh Mục
            ul.filter-list
              li
                a(href="/products/giay-bong-da")
                  i.fa-solid.fa-shoe-prints
                  span Giày Bóng Đá
              li.active: a(href="/products/quan-ao-bong-da")
                i.fa-solid.fa-shirt
                | Quần Áo Bóng Đá
              li: a(href="/products/giay-bong-chuyen")
                i.fa-solid.fa-volleyball
                | Giày Bóng Chuyền

          .filter-group
            h4.filter-group-title Khoảng Giá
            ul.filter-list
              li: label
                input(type="radio" name="price-filter")
                |  Dưới 1 Triệu
              li: label
                input(type="radio" name="price-filter")
                |  1 Triệu - 3 Triệu

          .filter-group
            h4.filter-group-title Thương Hiệu
            ul.filter-list
              li: label
                input(type="checkbox")
                |  Nike
              li: label
                input(type="checkbox")
                |  Adidas

          button.btn-apply-filter Áp Dụng Bộ Lọc

        // --- 2. KHU VỰC SẢN PHẨM (BÊN PHẢI) ---
        main.product-content
          .product-content__header
            .header-info
              h2.title #{breadcrumb.title}
              p.desc Tổng #{productCategory.length} sản phẩm
            .header-sort
              span Sắp xếp:
              select.sort-select
                option(value="newest") Mới Nhất
                option(value="price-asc") Giá tăng dần
                option(value="price-desc") Giá giảm dần
          
          .product-content__grid
            each product in productCategory
              +productItem(product)

          // PHÂN TRANG
          .box-pagination
            ul.pagination-list
              li.pagination-item.prev.disabled: a(href="#"): i.fa-solid.fa-angle-left
              li.pagination-item.active: a(href="#") 1
              li.pagination-item: a(href="#") 2
              li.pagination-item: a(href="#") 3
              li.pagination-item.dot ...
              li.pagination-item.next: a(href="#"): i.fa-solid.fa-angle-right