extends ../layouts/default.pug

block main
  .auth-page
    .container
      .auth-box
        h2.auth-title Quên Mật Khẩu
        p.auth-subtitle Nhập email bạn đã đăng ký, chúng tôi sẽ gửi mã OTP để khôi phục mật khẩu.
        
        form(action="/user/forgot-password" method="POST")
          .form-group
            label(for="email") Email đăng ký
            input#email.form-control(type="email" name="email" placeholder="VD: user@email.com" required)
            
          button.btn-auth(type="submit") 
            | Nhận Mã OTP
            
        .auth-redirect
          a(href="/user/login") 
            i.fa-solid.fa-arrow-left
            |  Quay lại Đăng nhập