mixin options(list, level, parentId = "")
  each item in list
    option(
      value=item.id 
      selected=(parentId == item.id ? true : false)
    ) #{"--".repeat(level)} #{item.title}
    if(item.children && item.children.length > 0)
      +options(item.children, level+1, parentId)