extends ../layouts/default.pug
include ../mixins/alert.pug
include ../mixins/options.pug
block main
  +alert-error(3000)
  .page-header
    h1.page-title Tạo danh mục
    a.btn-back(href=`/${pathAdmin}/category/list`) 
      i.fa-solid.fa-arrow-left
      | Quay lại danh sách
  .form-card
    form(action=`/${pathAdmin}/category/create` method="POST" enctype="multipart/form-data")
      .form-row-2
        .form-group
          label Tên danh mục
          input.form-control(type="text" name="title" placeholder="Nhập tên danh mục...")
        
        .form-group
          label Danh mục cha
          select.form-control(name="parent_id")
            option(value="") -- Chọn danh mục --
            +options(categoryList, 0)
      .form-row-2
        .form-group
          label Vị trí
          input.form-control(type="number" name="position" placeholder="Tự động tăng" )
        
        .form-group
          label Trạng thái
          select.form-control(name="status")
            option(value="active") Hoạt động
            option(value="inactive") Tạm dừng
   
      .form-group
        label Ảnh đại diện
        .upload-image-wrapper(upload-image-wrapper)
          input#thumbnail-category-upload.hidden-input(upload-image-input type="file" name="thumbnail" accept="image/*")
          label.upload-box(for="thumbnail-category-upload" upload-image-label)
            i.fa-solid.fa-plus
            
          .image-preview-container.hidden(upload-image-preview-container)
            img(upload-image-preview src="" alt="Preview")
            button.btn-remove-image(type="button" button-remove-image title="Xóa ảnh")
              i.fa-solid.fa-xmark
      .form-group
        label Mô tả
        textarea.form-control(name="description" rows="6" placeholder="Nhập mô tả cho danh mục này...")
      .form-actions
        button.btn-submit(type="submit") Tạo mới