extends ../layouts/default.pug
include ../mixins/options.pug
include ../mixins/alert.pug

block main
  +alert-error(3000)
  +alert-success(3000)
  
  //- Phần Header của trang
  .page-header
    h1.page-title Tạo sản phẩm
    a.btn-back(href=`/${pathAdmin}/product/list`) 
      i.fa-solid.fa-arrow-left
      | Quay lại danh sách

  .form-card
    form(action=`/${pathAdmin}/product/create` method="POST" enctype="multipart/form-data")
      
      //- Hàng 1: Tên & Danh mục
      .form-row-2
        .form-group
          label Tên sản phẩm
          input.form-control(type="text" name="title" placeholder="Ví dụ: Nike Air Zoom Pegasus 39" )
        
        .form-group
          label Danh mục
          select.form-control(name="category_id")
            option(value="") -- Chọn danh mục --
            +options(categoryList,0)
        
      //- Hàng 2: Vị trí & Trạng thái
      .form-row-2
        .form-group
          label Vị trí
          input.form-control(type="number" name="position" placeholder="Tự động tăng")
        
        .form-group
          label Trạng thái
          select.form-control(name="status")
            option(value="active") Hoạt động
            option(value="inactive") Tạm dừng

      .form-row-2 
        //- Hàng 3: Khối Upload Ảnh
        .form-group
          label Ảnh đại diện
          .upload-image-wrapper(upload-image-wrapper)
            input#thumbnail-upload.hidden-input(upload-image-input type="file" name="thumbnail" accept="image/*")
            label.upload-box(for="thumbnail-upload" upload-image-label)
              i.fa-solid.fa-plus
            .image-preview-container.hidden(upload-image-preview-container)
              img(upload-image-preview src="" alt="Preview")
              button.btn-remove-image(type="button" button-remove-image title="Xóa ảnh")
                i.fa-solid.fa-xmark
                
        //- Hàng 4: Sản phẩm nổi bật (Đã xóa style inline)
        .form-group
          label Sản phẩm nổi bật
          .featured-radios
            label
              input(type="radio" name="featured" value="1") 
              | Nổi bật
            label
              input(type="radio" name="featured" value="0" checked) 
              | Không nổi bật

      //- THÊM MỚI: Khối Upload Danh sách ảnh (Thư viện ảnh)
      .form-group
        label Danh sách ảnh (Thư viện ảnh)
        .upload-images-wrapper(upload-images-wrapper)
          input#images-upload.hidden-input(upload-images-input type="file" name="images" accept="image/*" multiple)
          
          label.btn-view-all-outline.btn-add-images(for="images-upload")
            i.fa-solid.fa-images
            |  Thêm nhiều ảnh
          
          .images-preview-grid(upload-images-preview-container)
      

      //- Hàng 5: Giá bán & Phần trăm giảm giá (chia 2 cột)
      .form-row-2
        .form-group
          label Giá bán (VNĐ)
          input.form-control(type="number" name="price" placeholder="Ví dụ: 2500000" min="0" )
        
        .form-group
          label Giảm giá (%)
          input.form-control(type="number" name="discountPercentage" placeholder="Ví dụ: 15" min="0" max="100" value="0")

      //- Hàng 6: Quản lý tồn kho theo Size
      .form-group
        label Kho hàng theo size / kích cỡ
        #dynamic-size-list

        button.btn-add-size(type="button" onclick="addSizeField()")
          i.fa-solid.fa-plus
          |  Thêm size khác

      //- Hàng 7: Mô tả
      .form-group
        label Mô tả sản phẩm
        textarea.form-control(name="description" rows="6" placeholder="Nhập mô tả chi tiết cho sản phẩm này...")

      //- Nút Submit
      .form-actions
        button.btn-submit(type="submit") Tạo mới

  script(src="/admin/assets/js/product.js")