extends ../layouts/default.pug
include ../mixins/alert.pug

block main
  if(role && role.permissions && role.permissions.includes("profile_view"))
    +alert-error(3000)
    +alert-success(3000)
    .page-header
      h1.page-title Đổi mật khẩu

    .form-card
      form(action=`/${pathAdmin}/profile/change-password?_method=PATCH` method="POST")
        
        .form-row-2
          .form-group
            label Mật khẩu mới
            input.form-control(type="password" name="password" placeholder="Nhập mật khẩu mới")
          
          .form-group
            label Nhập lại mật khẩu mới
            input.form-control(type="password" name="confirmPassword" placeholder="Nhập lại mật khẩu mới")
            
        .form-actions-stacked(style="margin-top: 30px;")
          button.btn-submit.btn-submit-large(type="submit") Đổi mật khẩu
  else
    .no-access-wrapper
      .no-access-card
        .no-access-icon
          i.fa-solid.fa-lock

        h2.no-access-title Truy cập bị từ chối

        p.no-access-desc
          | Bạn không có quyền truy cập vào trang này.
          br
          | Vui lòng liên hệ quản trị viên để được cấp quyền phù hợp.