extends ../layouts/default.pug
include ../mixins/alert.pug
block main
  +alert-error(3000)
  +alert-success(3000)
  .page-header
    h1.page-title Đổi mật khẩu

  .form-card
    form(action=`/${pathAdmin}/profile/change-password?_method=PATCH` method="POST")
      
      .form-row-2
        .form-group
          label Mật khẩu mới
          input.form-control(type="password" name="password" placeholder="Nhập mật khẩu mới")
        
        .form-group
          label Nhập lại mật khẩu mới
          input.form-control(type="password" name="confirmPassword" placeholder="Nhập lại mật khẩu mới")
          
      .form-actions-stacked(style="margin-top: 30px;")
        button.btn-submit.btn-submit-large(type="submit") Đổi mật khẩu