extends ../layouts/default.pug

block main
  //- Phần Header của trang (Đã xóa dòng thừa)
  .page-header
    h1.page-title Thông tin website
    a.btn-back(href=`/${pathAdmin}/setting/list`) 
      i.fa-solid.fa-arrow-left
      | Quay lại danh sách

  .form-card
    form(action=`/${pathAdmin}/settings/website-info?_method=PATCH` method="POST" enctype="multipart/form-data")
      
      //- Hàng 1: Tên website & Số điện thoại
      .form-row-2
        .form-group
          label Tên website
          input.form-control(type="text" name="websiteName")
        
        .form-group
          label Số điện thoại
          input.form-control(type="text" name="phone")
      
      //- Hàng 2: Email & Địa chỉ
      .form-row-2
        .form-group
          label Email
          input.form-control(type="email" name="email")
        
        .form-group
          label Địa chỉ
          input.form-control(type="text" name="address" )

      //- Hàng 3: Khối Upload Ảnh (Đã dùng class .upload-row)
      .form-row-2.upload-row
        .form-group
          label Logo
          .upload-image-wrapper(upload-image-wrapper)
            //- Đặt ID riêng là logo-upload
            input#logo-upload.hidden-input(upload-image-input type="file" name="logo" accept="image/*")
            label.upload-box(for="logo-upload" upload-image-label)
              i.fa-solid.fa-plus
            .image-preview-container.hidden(upload-image-preview-container)
              img(upload-image-preview src="" alt="Preview")
              button.btn-remove-image(type="button" button-remove-image title="Xóa ảnh")
                i.fa-solid.fa-xmark
                
        //- Cột phải: Upload Favicon
        .form-group
          label Favicon
          .upload-image-wrapper(upload-image-wrapper)
            //- Đặt ID riêng là favicon-upload
            input#favicon-upload.hidden-input(upload-image-input type="file" name="favicon" accept="image/*")
            label.upload-box(for="favicon-upload" upload-image-label)
              i.fa-solid.fa-plus
            .image-preview-container.hidden(upload-image-preview-container)
              img(upload-image-preview src="" alt="Preview")
              button.btn-remove-image(type="button" button-remove-image title="Xóa ảnh")
                i.fa-solid.fa-xmark

      //- Hàng 4: Nút Cập nhật và Link Quay lại (Đã dùng class)
      .form-actions-stacked
        button.btn-submit.btn-submit-large(type="submit") Cập nhật