header.admin-header
  .header-search
    i.fa-solid.fa-magnifying-glass
    input(type="text" placeholder="Tìm kiếm...")
  
  .header-actions
    .notification-bell
      i.fa-regular.fa-bell
      span.badge 6
    
    .admin-profile
      img(src="https://ui-avatars.com/api/?name=Admin&background=00004d&color=fff" alt=account.fullName)
      .info
        span.name #{account.fullName}
        span.role Admin